<!DOCTYPE html>
<html lang="en">
   <head itemscope itemtype="http://schema.org/WebSite">
      <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
      <title itemprop="name">Perfil de Comunidad</title>
        <link rel="stylesheet" href="../static/assets/css/styles.min.css">

   </head>
   <body style="margin: 0;">
        <nav class="navbar navbar-expand-md bg-dark py-3" data-bs-theme="dark" style="margin-bottom: 50px;">
        <div class="container">
            <a class="navbar-brand d-flex align-items-center" href="#"><span >Grupo 5</span></a>
            <button data-bs-toggle="collapse" class="navbar-toggler" data-bs-target="#navcol-5">
                <span class="visually-hidden">Toggle navigation</span>
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navcol-5">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item"><a class="nav-link active" href="#">Comunidad</a></li>
                    <li class="nav-item"><a class="nav-link" href="../perfil">Perfil</a></li>
                    <li class="nav-item"><a class="nav-link" href="#" id="enlaceLogout">Salir</a></li>
                </ul>
            </div>
        </div>
        </nav>
      <div id="snippetContent">
        {{!-- <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"> --}}
         <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/boxicons/2.1.0/css/boxicons.min.css"/>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/MaterialDesign-Webfont/5.3.45/css/materialdesignicons.css"/>
         <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.1.1/dist/css/bootstrap.min.css">
         <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.1.1/dist/js/bootstrap.bundle.min.js"></script>
         <link rel="stylesheet" href="../static/assets/bootstrap/css/bootstrap.min.css">
          <link rel="stylesheet" href="../static/assets/css/custom_styles.css">


         <div class="layout-content">
            <div class="container flex-grow-1 container-p-y">
               <div class="container-m-nx container-m-ny theme-bg-white mb-4">
                  <div class="media col-md-10 col-lg-8 col-xl-7 py-5 mx-auto">
                     <img src="../static/assets/images/subte_pn.png" alt class="d-block ui-w-100 rounded-circle" style="object-fit:cover; aspect-ratio:1">
                     <div class="media-body ml-5">
                         <h4 class="font-weight-bold mb-4">{{nombreComunidad}}</h4>
                         <div class="text-muted mb-4">{{objetivoComunidad}}</div>
                        <!-- SI LES PARECE LO AGREGAMOS  <a href="javascript:void(0)" class="d-inline-block text-body"> <strong>234</strong> <span class="text-muted">Miembros</span> </a> -->
                     </div>
                  </div>
                  <hr class="m-0">
               </div>
               <div class="row center-row">
                  <div class="col-xl-6">
                     <div class="card mb-5">
                        <div class="card-body">
                            <div class="row mb-2 centerH">
                                <h4 class="my-2">Miembros de la comunidad:</h4>
                                {{#if administrador}}
                                        <h6 style="cursor: pointer;">
                                            <a>Administrar miembros con cliente pesado</a>
                                            <a href="#" onclick="adminitrarComunidad()" data-bs-toggle="tooltip" data-bs-placement="top" title="Edit" class="px-2 text-secondary"><i class="bi bi-arrow-return-right"></i></a>
                                        </h6>
                                {{/if}}
                             </div>
                            <div class="row mb-2">
                                {{#if miembros}}
                                    {{#each miembros}}
                                        <li class="centerLeft">
                                            {{#if administrador}}
                                            <form action="http://localhost:4567/comunidad/cambiar/{{codigoComunidad}}/{{id_miembro}}" method="post" >
                                                {{#if esObservador}}
                                                <button id="boton-cambia-observador" name="tipoMiembro" value="observador">
                                                    👁️
                                                </button>
                                                {{else}}
                                                <button id="boton-cambia-observador" name="tipoMiembro" value="Usuario">
                                                    ✔‍
                                                </button>
                                                {{/if}}
                                            </form>
                                            {{else}}
                                                {{#if esObservador}}
                                                    <span>👁️‍</span>
                                                {{else}}
                                                    <span>✔</span>
                                                {{/if}}
                                            {{/if}}
                                            <a style="text-decoration: none; color: black" href="#" data-bs-toggle="modal" data-bs-target="#modal-miembro" onclick="mostrarDetallesMiembro('{{nombre}}', '{{apellido}}', '{{tipoDeMiembro}}')">
                                                {{nombre}}, {{apellido}}
                                            </a>
                                        </li>
                                    {{/each}}
                                {{else}}
                                    <p>No hay miembros</p>
                                {{/if}}
                            </div>
                        </div>
                     </div>

                  </div>
                  <div class="col-xl-6">
                     <div class="card mb-5">
                        <div class="card-body"> 
                            <div class="row mb-2 centerH">
                                <h5 class="my-2">Administradores:</h5>
                             </div>
                            <div class="row mb-3">
                                {{#if miembrosAdministradores}}
                                    {{#each miembrosAdministradores}}
                                        <li class="centerLeft">
                                            <span>✅</span>
                                            <a style="text-decoration: none; color: black" href="#" data-bs-toggle="modal" data-bs-target="#modal-miembro" onclick="mostrarDetallesMiembro('{{nombre}}', '{{apellido}}', '{{tipoDeMiembro}}')">
                                                {{nombre}}, {{apellido}}
                                            </a>
                                        </li>
                                    {{/each}}
                                {{else}}
                                    <p>No hay administradores por el momento</p>
                                {{/if}}
                            </div>
                        </div>
                     </div>
                     <div class="card mb-5">
                        <div class="row mb-2 centerH">
                            <h5 class="my-2">Incedentes de la comunidad:</h5>
                         </div>
                         <div class="row mb-3">
                             <li class="centerIncidentes" id="verIncidentesLi">
                                 <a>Ver Incidentes de la comunidad</a>
                                 <a href="#" onclick="redirectToIncidentes()" data-bs-toggle="tooltip" data-bs-placement="top" title="Edit" class="px-2 text-secondary"><i class="bi bi-arrow-return-right"></i></a>
                             </li>
                         </div>
                     </div>

               </div>
            </div>
         </div>
         <div class="modal fade" role="dialog" tabindex="-1" id="modal-miembro">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">Miembro</h4><button class="btn-close" type="button" aria-label="Close" data-bs-dismiss="modal"></button>
                    </div>
                    <div class="modal-body">
                        <div class="table-responsive">
                            <table class="table">
                                <tbody>
                                <tr>
                                    <td><strong>Nombre:</strong></td>
                                    <td id="nombreMiembro"></td>
                                </tr>
                                <tr>
                                    <td><strong>Apellido:</strong></td>
                                    <td id="apellidoMiembro"></td>
                                </tr>
                                <tr>
                                    <td><strong>Tipo Usuario:</strong></td>
                                    <td id="tipoUsuarioMiembro"></td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-light" type="button" data-bs-dismiss="modal" >Cerrar</button>
                    </div>
                </div>
            </div>
        </div>

         <script type="text/javascript"></script> 

         <style>#bsaHolder{right:10px;position:absolute;top:0;width:345px;z-index:10}
            #bsa_closeAd{width:15px;height:15px;overflow:hidden;position:absolute;top:10px;right:110px;border:none!important;z-index:1;text-decoration:none!important;background:url(https://bootdey.com/img/x_icon.png) red no-repeat} 
            #carbonads *{margin:initial;padding:initial;text-align:center}#carbonads{font-family:-apple-system,BlinkMacSystemFont,'Segoe UI',Roboto,Oxygen-Sans,Ubuntu,Cantarell,'Helvetica Neue',Helvetica,Arial,sans-serif;display:inline-block;font-size:14px;text-shadow:0 1px hsla(0,0%,100%,.8)}#carbonads a,#carbonads a:hover{color:#444;text-decoration:none}#carbonads>span{display:grid;background-color:#f9f9fa;max-width:250px;padding:1em;box-sizing:border-box;border-radius:4px;box-shadow:0 0 1px hsl(0deg 0% 0% / .075),0 0 2px hsl(0deg 0% 0% / .075),0 0 4px hsl(0deg 0% 0% / .075),0 0 8px hsl(0deg 0% 0% / .075),0 0 16px hsl(0deg 0% 0% / .075)}#carbonads .carbon-wrap{display:grid;row-gap:1em}#carbonads .carbon-text{font-size:1em;margin-bottom:.5em}#carbonads .carbon-poweredby{opacity:.5;font-size:.725em;text-transform:uppercase;font-weight:600;letter-spacing:.05ch}
         </style>
      </div>
      <script async src="https://www.googletagmanager.com/gtag/js?id=G-F1RTS0P1CD"></script> <script>window.dataLayer = window.dataLayer || [];
         function gtag(){dataLayer.push(arguments);}
         gtag('js', new Date());
         
         gtag('config', 'G-F1RTS0P1CD');
      </script>
          <script>
              document.addEventListener('DOMContentLoaded', function () {
                  // Función para redirigir y almacenar en localStorage
                  function redirectToIncidentes() {
                      // Obtener el código de la comunidad desde el modelo o donde sea que lo tengas
                      var codigoComunidad = "{{codigoComunidad}}";

                      localStorage.setItem('comunidadId', codigoComunidad);

                      window.location.href = '../static/incidentes.html';
                  }
                  // Obtener el elemento li por su ID
                  var verIncidentesLi = document.getElementById('verIncidentesLi');

                  // Agregar un event listener para el clic en el elemento li
                  verIncidentesLi.addEventListener('click', redirectToIncidentes);
              });
          </script>
          <script type="module">
              import { logout } from '../Fire-Base/validador/logout.js';

              document.addEventListener('DOMContentLoaded', function() {
                  // Asigna la función logout al evento click del enlace.
                  const enlaceLogout = document.getElementById('enlaceLogout');

                  if (enlaceLogout) {
                      enlaceLogout.addEventListener('click', function(event) {
                          event.preventDefault(); // Evita la navegación si es un enlace.
                          logout(); // Llama a la función logout.
                      });
                  } else {
                      console.error("Elemento con ID 'enlaceLogout' no encontrado.");
                  }
              });
          </script>
          <script>
              function mostrarDetallesMiembro(nombre, apellido, tipoDeMiembro) {
                  // Rellenar dinámicamente los campos del modal
                  document.getElementById('nombreMiembro').innerText = nombre;
                  document.getElementById('apellidoMiembro').innerText = apellido;
                  document.getElementById('tipoUsuarioMiembro').innerText = tipoDeMiembro;
              }
              function adminitrarComunidad() {
                  // Obtener el código de la comunidad desde el modelo o donde sea que lo tengas
                  var codigoComunidad = "{{codigoComunidad}}";

                  localStorage.setItem('comunidadId', codigoComunidad);

                  window.location.href = '../static/perfil_comunidad.html';
              }
          </script>

      </div>
   </body>
</html>